.large_circle {
          margin: auto;
          margin-top: 100px;
          text-align: center;
          line-height: 500px;

          width: 600px;
          height: 600px;
          border-radius: 250px;
          border: 1px solid black;
        }

        .small_circle {
          margin: auto;
          margin-top: 200px;
          text-align: center;
          line-height: 300px;
          
          width: 300px;
          height: 300px;
          border-radius: 150px; 
          border: 1px solid black;
        }

.large_word {
  font-size: 48pt;
  font-family: 'courier';
}

.small_word {
  font-size: 18pt;
  font-family: 'courier';
}


.pure-g {
  font-family: 'courier';
}

#jol {
  margin-top: 200px;
}

footer.cmef-buttons.timer-container {
  text-align: center;
}

.cmef-buttons .timer {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  width: 80px;
  height: 36px;
  margin: 5px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  /*padding: 10px;*/
  font-size: 30pt;
}