.large_circle {
  margin: auto;
  margin-top: 100px;
  text-align: center;
  line-height: 500px;

  width: 500px;
  height: 500px;
  border-radius: 250px;
  border: 1px solid black;
}

.small_circle {
  margin: auto;
  margin-top: 225px;
  text-align: center;
  line-height: 250px;
  
  width: 250px;
  height: 250px;
  border-radius: 125px; 
  border: 1px solid black;
}

.large_word {
  font-size: 18px;
}

.small_word {
  font-size: 12px;
}

.pure-g {
  font-family: 'courier';
}

#jol {
  margin-top: 400px;
}

footer.cmef-buttons.timer-container {
  text-align: center;
}

.cmef-buttons .timer {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  width: 80px;
  height: 36px;
  margin: 5px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  /*padding: 10px;*/
  font-size: 30pt;
}